page-home {
 
  .loading {
        margin: 12em auto!important;
        width: 100%;
        height: 100%!important;
        
    }
  
	ion-card {
      p, h2, h3, {color: white!important; } 
	     background-image:url(../../assets/imgs/bg.jpg)!important;
        background-repeat: no-repeat!important;
        background-attachment: fixed!important;
        background-position: left center!important; 
        max-height: 334px;
      ion-card-title{
         text-align: center;
      }
       ion-spinner * {
                stroke: white!important;
                /*fill: #ece9e8!important;*/
            }

        ion-card-content{
                  
        }     
		ion-item{		
			background-color: transparent!important;

         ion-spinner * {
            stroke: white!important;
            /*fill: #ece9e8!important;*/
         }
         h3{font-size: 20px!important; }
		}
	}
    
    .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            
         }
 			
 			@-webkit-keyframes fadeIn {
            0% {opacity: 0; font-color: black;}
            100% {opacity: 1; font-color:blue;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0; font-color: black;}
            100% {opacity: 1; font-color:blue;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }
}
