<ion-header>
  <ion-navbar class="animated fadeIn">
    <img align="center" width="auto" height="112" src="assets/imgs/logo-axion.png">
  </ion-navbar> 
 
</ion-header>

<ion-content>

	<div class="loading" *ngIf="loadingSpiner == 'loading'">
       <ion-grid>
      	  <ion-row>
      	  	<ion-col col-4>
      	  	</ion-col>
    	 	    <ion-col col-4  text-center>	
    		 		<ion-spinner showWhen="ios" name="ios"></ion-spinner>
    		 		<ion-spinner showWhen="android" name="crescent"></ion-spinner>
    	 	    </ion-col>
  	 	      <ion-col col-4>
      	    </ion-col>
  	 	  </ion-row>
  	 	</ion-grid>  	
	</div>

	 <ion-card *ngIf="callsData" >
	 	<ion-card-title padding>
	 		<h2>CURRENT CALLS</h2>
	 	</ion-card-title>
	 	<ion-card-content>
	 		<ion-list *ngIf="loadingSpiner == 'loading'">
	 			<ion-item>
	 				<!--<div class="loading">
	 					<ion-spinner  style="fill: #fff; font-color: white!important;" showWhen="ios" name="ios"></ion-spinner>
			 			<ion-spinner  style="font-color:white!important;" showWhen="android" name="crescent"></ion-spinner>
			 			<ion-spinner  style="font-color:white!important;" showWhen="windows" name="crescent"></ion-spinner>
			 			<p>Setting Data...</p>
	 				</div> -->
	 			</ion-item>
	 		</ion-list>
	 		<ion-list class="animated fadeIn" *ngFor="let calls of callsData;" >
	 			<ion-item >
	 				<h3><b>NJ</b>: {{calls.NJ}}</h3>
	 			</ion-item>
	 			<ion-item>
	 				<h3><b>LV</b>: {{calls.LV}}</h3>
	 			</ion-item>
	 			<ion-item>
	 				<h3><b>TX</b>: {{calls.TX}}</h3>
	 			</ion-item>
	 		</ion-list>
	 	</ion-card-content>
	 </ion-card>


 <ion-card *ngIf="callsData" >
 	<ion-card-title padding>
 		<h2>Other Options</h2>
 	</ion-card-title>
 	<ion-card-content>
 		
 	</ion-card-content>
 </ion-card>

</ion-content>
